{% extends "base.html" %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <h2>Welcome to buggy django app!</h2>
      <p>Please do take a gander.</p>

      <br />

      <h4>Vulnerabilities</h4>
      <ul>
        <li>
          A1: Reflected XSS on this page. Run:
          <ul>
            <li>Exploit: http://localhost:8000/?referral=Organic Food Store</li>
            <li>Exploit: http://localhost:8000/?referral="); alert("Whoops, reflected XSS attack!"); console.log("</li>
          </ul>
        </li>

        <li>
          A7: Missing function level access control. Page http://localhost:8000/secret-info/ is exposed to all users.
        </li>
      </ul>
    </div>
  </div>

  <script>
    // Hypothetical scenario where a 'referral' parameter is extracted and evaluated insecurely.
    var urlParams = new URLSearchParams(window.location.search);

    var referral = urlParams.get("referral");
    var stringToEval = 'alert("Thank you for visiting from ' + referral + '")';

    if (urlParams.has('referral'))
      eval(stringToEval);
  </script>

</div>
{% endblock content %}
